
<body>
<h1 style="text-align: center;">2D ANIMATIONS</h1>



<img class="transform" src="../assets/img/music.jpeg">
<h2 style="text-align: center;">Transform</h2>


<img class="scale" src="../assets/img/music.jpeg">
<h2 style="text-align: center;">scale</h2>


<img class="rotate" src="../assets/img/music.jpeg">
<h2 style="text-align: center;">rotate</h2>


<img class="skew" src="../assets/img/music.jpeg">
<h2 style="text-align: center;">skew</h2>

<img class="origin" src="../assets/img/music.jpeg">
<h2 style="text-align: center;">rotate top-left as origin </h2>

<h1 style="text-align: center;">3D ANIMATIONS</h1>

<img class="d-image" src="../assets/img/music.jpeg">
<h2 style="text-align: center;">3d perspective </h2>
</body>

