<h1 style="text-align: center;">Image Effect</h1>

<div class="body">
    <div class="container">
    <img src="../assets/img/gun.png">

    <div class="content">
        <h1>Amazing Caption</h1>
        <p>you can write anything want here</p>
    </div>
</div>

</div>

<!-- ****************** IMAGE EFFECT 2 ************* -->

<h1 style="text-align: center;">Image Effect 2</h1>
<div class="body">

<div class="container-2">
<img src="../assets/img/cartoon.jpg" alt="">
<div class="content-2">
    <h1>Amazing Caption</h1>
    <p>you can write anything want here</p>

</div>

</div>
</div>



